### Automação Web e Busca de Informações com Python
#### Desafio

Trabalhamos em um importadora e compramos e vendemos commodities: </br>
  - Soja, Milho, Algodão, Petróleo e entre outras </br>
  
Precisamos pegar na internet, de forma automática, a cotação de todas as commodities e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1XGxXVuyRycVHtspj91j05Fon5F9aHznL
Para isso, vamos criar uma anotação web:
  - Tecnologia utilizada: selenium
  - Baixar o webdriver do navegador que estiver utilizando

In [39]:
from selenium import webdriver
navegador = webdriver.Edge()
navegador.get("https://www.bing.com")

In [40]:
import pandas as pd
tabela_commodities = pd.read_excel("commodities.xlsx")
display(tabela_commodities)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [41]:
for linha in tabela_commodities.index:
   produto = tabela_commodities.loc[linha, "Produto"]

   print(produto)
   produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace("ç", "c").replace("ú", "u").replace("é", "e")
   link = f"https://www.melhorcambio.com/{produto}-hoje"
   print(link)
   navegador.get(link)

   preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
   preco = preco.replace(".", "").replace(",", "")
   print(preco)
   tabela_commodities.loc[linha, "Preço Atual"] = float(preco)

print("TERMINOU")
display(tabela_commodities)

Milho
https://www.melhorcambio.com/Milho-hoje
5992
Soja
https://www.melhorcambio.com/Soja-hoje
13107
Boi
https://www.melhorcambio.com/Boi-hoje
23790
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
43065
Algodão
https://www.melhorcambio.com/Algodao-hoje
39396
Açúcar
https://www.melhorcambio.com/Acucar-hoje
13084
Café
https://www.melhorcambio.com/Cafe-hoje
147850
Ouro
https://www.melhorcambio.com/Ouro-hoje
45450
Trigo
https://www.melhorcambio.com/Trigo-hoje
000
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
853
TERMINOU

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32       5992.0      NaN
1      Soja       163.59      13107.0      NaN
2       Boi       282.20      23790.0      NaN
3  Petróleo       424.37      43065.0      NaN
4   Algodão       497.76      39396.0      NaN
5    Açúcar       136.23      13084.0      NaN
6      Café      1092.87     147850.0      NaN
7      Ouro       321.77      45450.0      NaN
8     Trigo      1549.11          0.0      NaN
9   Tilápia         9.05        853.0      NaN

In [42]:
#Condição de comprar, se o preço atual for menor que o preço ideal, vai retorna True, se não False!
tabela_commodities["Comprar"] = tabela_commodities["Preço Atual"] < tabela_commodities["Preço Ideal"]
display(tabela_commodities)
 #tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32       5992.0    False
1      Soja       163.59      13107.0    False
2       Boi       282.20      23790.0    False
3  Petróleo       424.37      43065.0    False
4   Algodão       497.76      39396.0    False
5    Açúcar       136.23      13084.0    False
6      Café      1092.87     147850.0    False
7      Ouro       321.77      45450.0    False
8     Trigo      1549.11          0.0     True
9   Tilápia         9.05        853.0    False

In [43]:
navegador.quit()

In [44]:
df = pd.DataFrame(tabela_commodities)
df.to_excel("commodities_atualizadas.xlsx", index=False)