In [8]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

navegador = webdriver.Edge()


# Cotação do Dólar
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys("cotação dólar")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[3]/div/div[2]/input',).get_attribute("value")
print(cotacao_dolar)

# Cotação do Euro
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys("cotação euro")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[3]/div/div[2]/input',).get_attribute("value")
print(cotacao_euro)

# Cotação do Libra
navegador.get("https://www.google.com/")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys("cotação libra")
navegador.find_element(By.XPATH, '//*[@id="APjFqb"]').send_keys(Keys.ENTER)
cotacao_libra = navegador.find_element(By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[3]/div/div[2]/input',).get_attribute("value")
print(cotacao_libra)

# Cotação Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

5.62
6.21
7.39
456.70

In [9]:
import pandas as pd

tabela_produtos = pd.read_excel("Produtos.xlsx")
display(tabela_produtos)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [10]:
tabela_produtos.loc[tabela_produtos["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela_produtos.loc[tabela_produtos["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela_produtos.loc[tabela_produtos["Moeda"] == "Libra", "Cotação"] = float(cotacao_libra)
tabela_produtos.loc[tabela_produtos["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

tabela_produtos["Preço de Compra"] = tabela_produtos["Preço Original"] * tabela_produtos["Cotação"]
tabela_produtos["Preço de Venda"] = tabela_produtos["Preço de Compra"] * tabela_produtos["Margem"]
display(tabela_produtos)

C:\Users\Davil\AppData\Local\Temp\ipykernel_11428\558206674.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.62' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  tabela_produtos.loc[tabela_produtos["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.62,5619.9438,1.40,7867.92132
1,Carro Renault,4500.00,Euro,6.21,27945.0000,2.00,55890.00000
2,Notebook Dell,899.99,Dólar,5.62,5057.9438,1.70,8598.50446
3,IPhone,799.00,Dólar,5.62,4490.3800,1.70,7633.64600
4,Carro Fiat,3000.00,Euro,6.21,18630.0000,1.90,35397.00000
5,Celular Xiaomi,480.48,Dólar,5.62,2700.2976,2.00,5400.59520
6,Joia 20g,20.00,Ouro,456.70,9134.0000,1.15,10504.10000

In [11]:
# Criando a nota tabela com os preços atualizados
tabela_produtos.to_excel("Produtos - Preços Atualizados.xlsx", index=False)